body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #000;
    color: #ddd;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #222;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    color: #fff;
}

header p {
    font-size: 1.2em;
    color: #aaa;
}

.bio {
    text-align: center;
    margin-bottom: 30px;
}

.bio img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.content h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #007bff;
}

.content p, .content ul {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #ccc;
}

.content ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 1em;
    color: #777;
}
